/*RESET CSS
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video*/
#INVALID-RULE
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit 1em arial;
	vertical-align: baseline;
}
/*HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section*/
#INVALID-RULE
{
	display: block;
}
BODY
{
	line-height: 1;
	padding: 0;
	margin: 0;
}
OL, UL
{
	list-style: none;
}
BLOCKQUOTE, Q
{
	quotes: none;
}
BLOCKQUOTE:before, BLOCKQUOTE:after, Q:before, Q:after
{
	content: '';
	content: none;
}
TABLE
{
	border-collapse: collapse;
	border-spacing: 0;
}
IMG
{
	-ms-interpolation-mode: bicubic;
}
